<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Naymidge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Naymidge.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Naymidge.Properties.Settings>
            <setting name="MruContentDirectory" serializeAs="String">
                <value>{MRU content directory)</value>
            </setting>
            <setting name="MruFilenamePatterns" serializeAs="String">
                <value>jpg$
mov$</value>
            </setting>
            <setting name="MruIncludeSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MruRefileTarget" serializeAs="String">
                <value>{MRU refile target}</value>
            </setting>
            <setting name="MruFileByDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MruUseDateTaken" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MruSuggestDatestamp" serializeAs="String">
                <value>False</value>
            </setting>
        </Naymidge.Properties.Settings>
        <Naymidge.settings>
            <setting name="MruContentDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFileNamePatterns" serializeAs="String">
                <value />
            </setting>
            <setting name="MruIncludeSubdirectories" serializeAs="String">
                <value>True</value>
            </setting>
        </Naymidge.settings>
    </userSettings>
</configuration>